# colcon build outputs
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# IDE
.vscode/
.idea/

# ROS / 运行产物
.launch/
*.log
*.bag
*.db3

# 编译产物
*.o
*.so
*.a

#文档
release.md
User_Manual.md
*.docx
*.pdf

#编码规则
*.cursorrules

#第三方依赖包文件夹
fast_lio2/
rslidar_sdk/
realsense-ros/
hunter_ros2/
navigation2/
robot_localization/
YOLOv8-ROS-TensorRT/
yolo_trt_ros/
ugv_sdk/